header>img, footer>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}

body>header {
    background-color: greenyellow;
}

body>footer {
    background-color: greenyellow;
}

img {
    width: 50%;
}

header {
    font-size: 40px;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 15px;
}
