img {
    border-radius: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

article {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px;
}

article>h2 {
    text-align: center;
    font-size: x-large;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;

    padding: 10px 10px;
    margin: 10px 0;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=submit] {
    background-color: #81BC00;
    color: #212529;

    font-size: 15px;
    font-weight: bold;

    border-style: none;
    border-radius: 20px;
    
    display: block;
    padding: 10px 10%;
    margin: 20px auto;

    cursor: pointer;
}
